{% extends "blog/base.jinja2" %}
{% load static %}
{% block content %}
    <div class="text-center border rounded p-3">
        <h3 class="mb-5">403 &#183; Access denied</h3>
        <img class="mb-5 img-fluid"
             src=" {% static 'blog/403.jpg' %} "
             alt=""
             srcset="">
        <p class="fs-4">You don't have the permission to access this page.</p>
    </div>
{% endblock content %}
