{% extends 'blog/base.jinja2' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="alert alert-success">
    Your password has been set successfully, Sign in <a href="{% url 'user-login' %}">here</a>
  </div>
{% endblock content %}
