{% extends "blog/base.jinja2" %}
{% block content %}
  <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
  {% for post in posts %}
    <div class="post border rounded p-3 mb-3">
      <div class="post-card d-flex align-items-center flex-row  mb-3">
        <img src=" {{ post.author.profile.image.url }} "
             class="img-fluid rounded-circle me-4 "
             alt="profile pic">
        <div>
          <div class="card-text">
            <p class="mb-0">
              <a href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            </p>
            <small><a class="text-muted" href="{% url 'post-detail' post.id %}">{{ post.date_posted|date:"F d, Y" }}</a></small>
          </div>
        </div>
      </div>
      <h5 class="card-title mb-2">
        <a class="link-dark" href=" ">{{ post.title }}</a>
      </h5>
      <p>{{ post.content }}</p>
    </div>
  {% endfor %}
  {% if is_paginated %}
    {% if page_obj.has_previous %}<a class="btn btn-outline-primary" href="?page=1">First</a>{% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-primary" href="?page={{ num }}">{{ num }}</a>
      {% elif num  > page_obj.number|add:'-2' and num  < page_obj.number|add:'2' %}
        <a class="btn btn-outline-primary" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <a class="btn btn-outline-primary"
         href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
  {% endif %}
{% endblock content %}
